/*====================================
                MEDIA QUERIES
====================================*/

@media (min-width: 1024px) {
    .row {
        padding-top: 120px;
    }

    .intro {
        height: 100%;
        flex-direction: row-reverse;
        align-items: center;
    }

    .img-container {
        padding-left: 30px;
        width: 100%;
        flex: 1 0 300px;
    }

    #image {
        padding-top: 0;
    }


    #tribute-info {
        width: 100%;
        flex: 1 0 300px;
    }

    #tribute-info h2 {
        text-align: left;
        margin-bottom: 10px;
    }

    #tribute-info p {
        text-align: left;
    }

    .inner-timeline {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    .empty {
        flex: 1 0 10%;
    }

    .items {
        flex: 2 0 90%;
    }
}
